.contact-container {
  display: flex;
  background-image: url(/public/wavespink.png);
  background-attachment: fixed;
}

.contact-image {
  flex: 1;
}

.contact-image img {
  width: 100%;
  height: auto;
}

.contact-form-container {
  flex: 1;
  padding: 20px;
}

.contact-form-container h2 {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
@media (max-width: 680px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
