/* FAQ Section */
.faq-section {
  max-width: 500px;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}

.imgfaq img {
  width: 80%;
  margin-left: 50px;
  padding: 10px;
}

@media (max-width: 680px) {
  .imgfaq img {
    display: none;
  }
}

.faqcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Individual FAQ Question */
.faq-question {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* Question Header */
.faq-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Question Text */
.faq-question h3 {
  font-size: 18px;
  margin: 0;
}

/* Plus and Minus Icons */
.faq-question-header svg {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Open State Icon Rotation */
.faq-question.open .faq-question-header svg {
  transform: rotate(-180deg);
}

/* Answer Text */
.faq-question p {
  font-size: 16px;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
