.skill {
  width: 150px;
  height: 150px;
  display: flex;
  transition: all 0.5s;
  padding: 15px;
  border-radius: 49% 51% 60% 40% / 30% 48% 52% 70%;
  background-image: linear-gradient(#40c9ff, #e81cff);
  box-shadow: 2px 2px 15px 5px rgb(201, 24, 201);
}

@keyframes identifier {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.skill:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transform: scale(1.5);
}
.skill img {
  height: 120px;
  width: 120px;
}

.skillCountainer {
  align-items: center;
  text-align: center;
  background-image: url("/public/skillImg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;

  display: flex;
  align-items: center;
  justify-content: center;
}
.skillset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.skillheading {
  color: white;
  margin-bottom: 30px;
}

@media (max-width: 380px) {
  .skillset {
    display: flex;
    flex-direction: column;
  }
}
